<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: #FFEFD5; /* Цвет фона */
        }
    </style>
</head>
<body>
    @Html.ActionLink("Главная", "Index", "Home")
        <div>
            @RenderBody()
        </div>

</body>
</html>