
@{
    Layout = null;
}

<html>
<head>
    <title>Анна Ратникова</title>
    <style>
        body {
            background: #FFEFD5; /* Цвет фона */
        }
    </style>
</head>
<body>
    <div style='text-align: center'>
        <h1><B><FONT COLOR="#8B008B">Ратникова Анна</FONT></B></h1><hr>
        <p>
            <a href="https://vk.com/id23709373"><IMG SRC="https://pp.vk.me/c628719/v628719373/6438c/7lhj5MVIMeY.jpg" alt="Это я :)" TITLE="Это я :)" HEIGHT="500"></a>
        </p>
    </div>
        <h2><FONT COLOR="#0000CD">Что вы хотите знать обо мне?</FONT></h2>
        <p>
            <ul>
                <li>@Html.ActionLink("Мое обучение", "Study", "About")</li>
                <li>@Html.ActionLink("Увлечения", "Index", "About")</li>
                <li>@Html.ActionLink("Мои любимые фильмы", "Films", "Home")</li>
            </ul>
        </p>
</body>
</html>