
@{
    Layout = "../Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Увлечения</title>
</head>
<body>
    <div style='text-align: center'>
        <h2><FONT COLOR="#0000CD">Мои увлечения</FONT></h2>
        </div>
        <div>
            <ul>
                <li>Увлекаюсь программированием</li>
                <li>Люблю гулять по городу в хорошую погоду</li>
                <li>Люблю кататься на велосипеде</li>
                <li>Мне нравится читать</li>
                <li>Хочу изучать немецкий язык</li>
            </ul>
            <IMG SRC="https://pp.vk.me/c627219/v627219373/2ff76/V151EgCLrrY.jpg" TITLE="Вот такое вот иногда можно встетить на прогулке">
        </div>
</body>
</html>

