
@{
    Layout = "../Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Обучение</title>
</head>
<body>
    <div style='text-align: center'>
        <h2><FONT COLOR="#0000CD">Мое обучение</FONT></h2>
    </div>
    <div>
        <ul>
            <li>С первого по третий класс училась в школе №36 города Мурманска</li>
            <li>С четвертого по восьмой класс училась в гимназии №92 города Санкт-Петербурга</li>
            <li>С девятого по одиннадцатый класс училась в Презедентском физ-мат лицее №239</li>
            <li>В настоящий момент учусь на первом курсе университета ИТМО, факультет Информационных технологий и программирования, на направлении "Прикладная информатика в экономике"</li>
        </ul>
    </div>
    <a href="http://www.ifmo.ru/"><IMG SRC= "http://media.ifmo.ru/images/photos/big/p56.jpg" /></a>
    </body>
</html>
